[http]
	sslverify = false
[user]
	name = liamjbennett
	email = liamjbennett@gmail.com

[hub]
protocol = https

[credential]
helper = /opt/boxen/bin/boxen-git-credential

[core]
	editor = vim
  excludesfile = /opt/boxen/config/git/gitignore

[push]
	default = simple
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
